<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%d{ABSOLUTE} %-5p %c{1}:} %m%n" disableAnsi="false"/>
		</Console>
	</Appenders>

	<Loggers>

		<Root level="warn">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
		
		<Logger name="dev.tim9h.swtor.parser" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</Logger>

	</Loggers>

</Configuration>
